.item-card {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 30rem;
  background-color: #35233a;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 20px;
  -webkit-box-shadow: -11px 13px 36px -22px rgba(0, 0, 0, 1);
  -moz-box-shadow: -11px 13px 36px -22px rgba(0, 0, 0, 1);
  box-shadow: -11px 13px 36px -22px rgba(0, 0, 0, 1);
  .div-txt {
    width: 50%;
    height: 100%;
  }
  .itm-txt {
    color: white;
    margin-left: 3rem;
    padding-top: 3rem;
  }
  .itm-desc {
    color: #7a6181;
    font-size: 17px;
  }
  .div-desc {
    width: 20rem;
    margin: 3rem;
    height: 13rem;
  }
  .btn-itm {
    background-color: #fa885b;
    width: 10rem;
    height: 3rem;
    margin-left: 3rem;
    border-radius: 10px;
    border: none;
    color: white;
  }
  .pic-div {
    width: 50%;
    height: 100%;
    text-align: center;
  }
  .pic {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 19%;
    width: 80%;
    height: 60%;
  }
}
