.crd {
  background-color: #35233a;
  border-radius: 30px;
  margin: 2rem;
  width: 15rem;
  text-align: center;
  -webkit-box-shadow: -11px 13px 36px -22px rgba(0, 0, 0, 1);
  -moz-box-shadow: -11px 13px 36px -22px rgba(0, 0, 0, 1);
  box-shadow: -11px 13px 36px -22px rgba(0, 0, 0, 1);
  .btn-card {
    width: 80%;
    height: 3rem;
    color: white;
    background-color: #fa885b;
    border: none;
    border-radius: 10px;
    font-size: 15px;
  }
  .txt-card {
    color: white;
    font-size: 22px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
