.nav {
  background-color: #26102c;
  .brand {
    color: white;
    &:hover {
      color: white;
    }
  }
  .btn-nav {
    width: 8rem;
    color: white;
    border: none;
    margin-right: 1rem;
    border-radius: 10px;
    background-color: #35233a;
  }
}
